<mat-drawer-container id="container">
  <mat-drawer id="sidebar" mode="side" opened>
    <div><h1>Assignment APP</h1></div>
    <div id="profil">
      <div id="userinfo">
        <div>{{user.firstname}} {{user.lastname}}</div>
        <div>{{user.email}}</div>
      </div>
      <div id="logout">
        <div>
          <button (click)="onLogout()">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="logout"></mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div id="links">
      <ul style="width: 100%; list-style-type: none; padding: 0; margin: 0;">
        @for(link of links; track link.label) {
          <li class="link"><a routerLink="{{link.path}}">{{link.label}}</a></li>
        }
      </ul>
    </div>
  </mat-drawer>
  <mat-drawer-content class="content"><router-outlet></router-outlet></mat-drawer-content>
</mat-drawer-container>
